<app-topbar />

<div class="card">
  <div class="card-header">
    <h2 class="text-lg font-semibold">User List</h2>
  </div>

  <div class="card-content">
    <p-table
      [value]="users"
      [paginator]="true"
      [rows]="rows"
      [totalRecords]="totalRecords"
      [lazy]="true"
      (onLazyLoad)="loadUsersLazy($event)"
      [loading]="isLoading"
      [rowsPerPageOptions]="[5, 10, 25]"
      currentPageReportTemplate="showing {first} to {last} of {totalRecords}"
      [tableStyle]="{ 'min-width': '50rem' }"
      showGridlines
      stripedRows
    >
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>First</th>
          <th>Last</th>
          <th>Age</th>
          <th>Email</th>
          <th>Role</th>
          @if (isAdmin) {
          <th>Actions</th>
          }
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.age }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          @if (isAdmin) {
          <td>
            <p-button
              label="Edit"
              icon="pi pi-pencil"
              severity="info"
              size="small"
              (onClick)="onEditUser(user)"
              [disabled]="user.role !== 'user'"
            ></p-button>
          </td>
          }
        </tr>
      </ng-template>
    </p-table>

    <p-dialog
      header="Edit User"
      [(visible)]="displayEditDialog"
      [modal]="true"
      [style]="{ width: '28rem' }"
    >
      <div class="bg-surface-0 rounded-xl w-full p-6">
        <form class="space-y-4" (submit)="updateUser()" *ngIf="selectedUser">
          <!-- First Name -->
          <div>
            <label for="firstName" class="block text-sm font-medium text-color">First Name</label>
            <p-inputgroup>
              <p-inputgroup-addon>
                <i class="pi pi-user"></i>
              </p-inputgroup-addon>
              <input
                id="firstName"
                pInputText
                [(ngModel)]="selectedUser.firstName"
                name="firstName"
                required
                autocomplete="given-name"
              />
              @if (!selectedUser.firstName) {
              <p-message severity="error" variant="simple" size="small"
                >First name is required</p-message
              >
              }
            </p-inputgroup>
          </div>

          <!-- Last Name -->
          <div>
            <label for="lastName" class="block text-sm font-medium text-color">Last Name</label>
            <p-inputgroup>
              <p-inputgroup-addon>
                <i class="pi pi-user"></i>
              </p-inputgroup-addon>
              <input
                id="lastName"
                pInputText
                [(ngModel)]="selectedUser.lastName"
                name="lastName"
                required
                autocomplete="family-name"
              />
              @if (!selectedUser.lastName) {
              <p-message severity="error" variant="simple" size="small"
                >Last name is required</p-message
              >
              }
            </p-inputgroup>
          </div>

          <!-- Age -->
          <div>
            <label for="age" class="block text-sm font-medium text-color">Age</label>
            <p-inputgroup>
              <p-inputgroup-addon>
                <i class="pi pi-hashtag"></i>
              </p-inputgroup-addon>
              <input
                id="age"
                pInputText
                type="number"
                [(ngModel)]="selectedUser.age"
                name="age"
                min="1"
                max="120"
                required
              />
              @if (!selectedUser.age ) {
              <p-message severity="error" variant="simple" size="small">
                Age is required and must be 120 or lower
              </p-message>
              }
            </p-inputgroup>
          </div>

          <!-- Submit -->
          <button pButton type="submit" label="Update" class="w-full"></button>
        </form>
      </div>
    </p-dialog>
  </div>
</div>
